script(type='text/javascript', src='/vendor/jquery/dist/jquery.js')
script(type='text/javascript', src='/vendor/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript', src='/vendor/angular/angular.js')
script(type='text/javascript', src='/vendor/angular-resource/angular-resource.js')
script(type='text/javascript', src='/vendor/angular-route/angular-route.js')
script(type='text/javascript', src='/app/app.js')
script(type='text/javascript', src='/app/navbarCtrl.js')
script(type='text/javascript', src='/app/account/user.js')
script(type='text/javascript', src='/app/account/cached-user.js')
script(type='text/javascript', src='/app/account/auth.js')
script(type='text/javascript', src='/app/account/identity.js')
script(type='text/javascript', src='/app/account/loginCtrl.js')
script(type='text/javascript', src='/app/instances/instance.js')
script(type='text/javascript', src='/app/instances/instancesListCtrl.js')
script(type='text/javascript', src='/app/instances/displayInstance.js')
script(type='text/javascript', src='/app/instances/assignInstanceCtrl.js')
script(type='text/javascript', src='/app/admin/userListCtrl.js')
script(type='text/javascript', src='/app/admin/newUserCtrl.js')
